@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

body {
  font-family: "Comfortaa", cursive;
}

main {
  min-height: 80vh;
}


.hoverable:hover {
  background-color: #ddd;
  cursor: pointer;
}

img {
  max-width: inherit;
  max-height: inherit;
  height: 60px;
  width: inherit;
  object-fit: cover;
}